root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
# standard:function-naming: Compose functions start with uppercase.
# We ignore the rule to allow Composable functions to follow the naming convention.
ktlint_standard_function-naming = disabled
